<div class="container">
    <div class="row">
        <div class="col-6 col-md-3">
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-6 col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-label>Hora</mat-label>
                <!-- <input type="time" matInput value="12:00" /> -->
                <input type="time" matInput />
            </mat-form-field>
        </div>
        <div class="col-6 col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-label>Id Prueba</mat-label>
                <input type="text" matInput />
            </mat-form-field>
        </div>
        <div class="col-6 col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-label>Id Afiliado</mat-label>
                <input type="text" matInput />
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-end">
            <div class="wrapper">
                <button mat-raised-button color="primary">Guardar</button>
            </div>
            <div class="wrapper ms-2">
                <button mat-raised-button color="warn">Cancelar</button>
            </div>
        </div>
    </div>
</div>