.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

tr :hover {
  cursor: default;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.detail-table {
  background: #f8f8f8;
  text-align: center;
}

.detail-table th {
  background-color: #d9d9d9;
}
