<mat-toolbar color="primary">
    <div class="container d-flex justify-content-between align-items-center">
        <a routerLink="/home">Agenda de citas - Reto Semillero</a>
        <div>
            <a mat-button routerLink="/appointments" routerLinkActive="active">
                <mat-icon>calendar_today</mat-icon>Citas
            </a>
            <a mat-button routerLink="/tests" routerLinkActive="active">
                <mat-icon>list_alt</mat-icon>Pruebas
            </a>
            <a mat-button routerLink="affiliates" routerLinkActive="active">
                <mat-icon>person</mat-icon>Afiliados
            </a>
        </div>
    </div>
</mat-toolbar>