<mat-toolbar color="primary">
    <div class="container d-flex justify-content-between align-items-center">
        <span>Agenda de citas - Reto Semillero</span>
        <div>
            <a routerLink="/appointments" routerLinkActive="active">
                <mat-icon>calendar_today</mat-icon>Citas
            </a>
            <a routerLink="/tests" routerLinkActive="active">
                <mat-icon>list_alt</mat-icon>Pruebas
            </a>
            <a routerLink="affiliates" routerLinkActive="active">
                <mat-icon>person</mat-icon>Afiliados
            </a>
        </div>
    </div>
</mat-toolbar>