<mat-toolbar color="primary">
    <span>Agenda de citas - Reto Semillero</span>
    <span style="flex: 1 1 auto;"></span>
    <div class="options-container">
        <button mat-button style="font-size: 1rem;">
            <mat-icon>calendar_today</mat-icon>Citas
        </button>
        <button mat-button style="font-size: 1rem;">
            <mat-icon>list_alt</mat-icon>Pruebas
        </button>
        <button mat-button style="font-size: 1rem;">
            <mat-icon>person</mat-icon>Afiliados
        </button>
    </div>
</mat-toolbar>